*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, sans-serif;}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  padding: 40px;
  background-color: rgba(205, 205, 202, 0.32);
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    margin: 40px;
}

.new-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  margin: 40px;
}

.new-form div {
  margin-bottom: 1rem; /* Add space between form elements */
}

.new-form label {
  display: block; /* Ensures the label is a block-level element */
  margin-bottom: 0.5rem; /* Adds space below the label */
}

.new-form input {
  padding: 0.5rem; /* Adds some padding inside the input field */
}

.main-heading{
  /* background-color: white; */
  color: gold;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading-sm{
  text-align: center;
  color: goldenrod;
}
span{
  font-style: italic;
  text-align: center;
}
.newInput{
  border-radius: 5px;
  padding: 2px;
  outline: none;
  border: 1px solid black;
  width: 400px;
  height: 40px;
}
.newButton{
  border-radius: 4px;
  outline: none;
  padding: 15px;
  background-color: goldenrod;
  color: white;
  border: white;
  font-weight: bold;
  cursor: pointer;
}
.Navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 134px;
  font-size: 38px;
  margin-top: 40px;
}
.taskOne{
  background-color: white;
}
.date{
  text-align: center;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid black;
}
.finish{
  outline: none;
  padding: 15px;
  background-color: goldenrod;
  color: white;
  border: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
  width: -webkit-fill-available;
}

.logout{
  outline: none;
  padding: 15px;
  background-color: rgb(228, 182, 64);
  color: white;
  border: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
}

.task{
  padding: 5px 25px 25px 5px;
}
.circle{
  padding: 20px;
  color: white;
  border: 1px solid goldenrod;
  border-radius: 48%;
  background-color: goldenrod;
  font-size: 30px;
  /* margin: 100px 0 0 500px; */
  cursor: pointer;
}
.final{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    padding: 20px;
    border-top: 1px solid;
    margin-top: 5px;
    background-color: white;
}
.color{
  color: goldenrod;
  outline: none;
  background-color: white;
  border: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  cursor: pointer;
}

textarea{
  width: 100%;
  height: 100%;
  border: none;
}

input {
  text-align: center;
  height: 30px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  color: black;
  width: 77%;
  border-bottom: 2px solid goldenrod;
  outline: none;
  margin: 20px;
}

.center-div {
  background-color: #f4f4f4;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 20px; 
  /* display: flex; */
  justify-content: center;
  align-items: center;
  gap: 6px;
}

